{% extends "base.html" %}

{% block titulo %}
Acerca de mi
{% endblock titulo %}

{% block contenido %}
<div style="margin:50px">
    <h1 style="text-align: center">Acerca de mi </h1>
    <main class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <p>Mi nombre es Facundo Luis Fernandez. Tengo 21 años. Actualmente estudio la carrera de actuario en economia en la UBA, y ademas hago cursos adicionales ,como por ejemplo, programacion en Python en la academia Coderhouse.</p>
                    <p>Naci en la provincia de Buenos Aires, Argentina. Soy hincha del equipo de futbol de mi ciudad, "el club de barrio mas grande del mundo", es decir, de Lanus</p>
                    <p>Cree esta pagina debido a mi gran fanatismo por el cine, y  a que me interesa charlar con otras personas sobre peliculas, directores y cinestas. En fin del mundo cinematrografico.</p>
                    <p>Espero que puedas conocer mas sobre el cine y sus grandes fanaticos. A disfrutar de MovieOpin!</p>
                </div>
            </div>
        </div>
    </main>
    <!-- Footer-->
    <footer class="border-top">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item">
                            <a href="#!">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#!">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#!">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <div class="small text-center text-muted fst-italic">Copyright &copy; Your Website 2023</div>
                </div>
            </div>
        </div>
    </footer>
    
   

    
</div>
    
{% endblock contenido %}