{% extends "base.html" %}

{% block titulo %}
Lista de opiniones
{% endblock titulo %}

{% block contenido %}
    
        
    <div style="margin:50px">
        <h3>Las lista vigente de opiniones es: </h3>
        <a style="margin-left: 25px" href="{% url 'CrearOpinion' %}"> Opinar </a>
        <br>

        <table class="table">
        <tbody>
            <tr>
            <th>Pelicula/Serie</th>
            <th>Nota</th>
            <th>Detalle</th>
            <th>Creador</th>
            
            
            </tr>
            {% for opinion in Opiniones %}
            <tr>
            
            <td>{{ opinion.pelicula_o_serie }}</td>
            <td>{{ opinion.nota }}</td>
            <td>{{ opinion.detalle }}</td>
            <td>{{ opinion.creador }}</td>
            
            
            </tr>
            {% endfor %}
        </tbody>
        </table>
        

        
    </div>
        

    
{% endblock contenido %}