{% extends "base.html" %}
{%load static%}

{% block titulo %}
Lista de opiniones
{% endblock titulo %}

{% block contenido %}
    
    
        
    <div style="margin:50px">
        
        {%if Opiniones|length < 1%}
        <p style="text-align: center">No hay entradas aun<p>
        <div style="text-align: center">
            <a  href="{% url 'CrearOpinion' %}"> Opinar </a>
        </div> 
         
        {%else%}
        <h3>Las lista vigente de opiniones es: </h3>
        
        <br>

        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center" style="text-decoration: none">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    {% for opinion in Opiniones %}
                    <div class="post-preview">
                        <a href="{% url 'DetalleOpinion' opinion.id %}">
                            <h2 class="post-title">{{opinion.mini_opinion}}</h2>
                            <h3 class="post-subtitle">Pelicula: {{opinion.pelicula}}</h3>
                            <h3 class="post-subtitle">Nota: {{opinion.nota}}</h3>
                            
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">{{opinion.creador}}</a>
                            on {{opinion.fecha}}
                        </p>

                        
                        {% if request.user == opinion.creador %}
                        <a href="{% url 'EditarOpinion' opinion.id %}">Editar</a>
                        <a href="{% url 'EliminarOpinion' opinion.id %}">Eliminar</a>
                        {% endif %}
                        
                        
                        
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    {% endfor %}
                    <!-- Post preview-->
                    
                    <a style="margin-left: 25px" href="{% url 'CrearOpinion' %}"> Opinar </a> 
                    {%endif%}
    </div>
    
        

    
{% endblock contenido %}