{% extends "base.html" %}

{% block titulo %}
Lista de series
{% endblock titulo %}

{% block contenido %}
    <div style="margin:50px">
        <h1>Lista de series</h1>
        <a href="{% url 'CrearSerie' %}">Crear serie</a>
        <br>

        <table class="table">
        <tbody>
            <tr>
            <th>ID</th>
            <th>Nombre</th>
            
            <td></td>
            <td></td>
            <td></td>
            </tr>
            {% for serie in object_list %}
            <tr>
            <td>{{ serie.id }}</td>
            <td>{{ serie.nombre }}</td>
            
            <td>
                <a href="{% url 'VerSerie' serie.id %}">Detalle</a>
            </td>
            <td>
                <a href="{% url 'EditarSerie' serie.id %}">Editar</a>
            </td>
            <td>
                <a href="{% url 'EliminarSerie' serie.id %}">Eliminar</a>
            </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
       

        
    </div>
{% endblock contenido %}