{% extends "base.html" %}
{% block titulo %}
DetallePelis
{% endblock titulo %}

{% block contenido %}
<div style="margin:100px">
    <p>
    <strong>Nombre: </strong> {{pelicula.nombre}}
    </p>
    <p>
    <strong>Director: </strong> {{pelicula.director}}
    </p>
    <p>
    <strong>Año_estreno: </strong> {{pelicula.año_estreno}}
    </p>
    

    <br>
    <a href="{% url 'ListaPelis' %}">Volver lista</a><br>
    {% if request.user == pelicula.creador %}
    <a href="{% url 'EditarPelis' object.id %}">Editar</a>
    {% endif %}
</div>
{% endblock contenido %}